<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Skills-Web</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
   <h1>Hello!</h1>
    <h4> Please fill out the following form: </h4>

<form action="/application-response" method="POST">
    <label for="field-firstname"> First Name: </label>
    <input type="text" name="firstname" class="boxes"><br>

    <label for="lastname" id="field-lastname"> Last Name: </label>
    <input type="text" name="lastname" class="boxes"><br>

    <label for="field-salaryrequirement"> Enter your salary requirement: </label>
    <input type="text" name="salaryrequirement" class="boxes"><br>

     <label for="field-jobrequirement"> Which job are you applying for? </label>
    <input type="text" name="jobrequirement" class="boxes">
    <ul>
        <li> Software Engineer </li>
        <li> QA Engineer </li>
        <li> Product Manager </li>
    </ul>
    
    <input type="submit" class="boxes">
</form>
</body>
</html>
